
<div   class="panel panel-default" style="width:800px">

<div class="panel-heading">Modifier <%= @species.name %> </div>
<div class="panel-body">

<%= render 'form', species: @species %>



</div>
</div>
